body {
    font-style: italic;
    margin: auto;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;}

#header1 {
    background-color: #f0b27a;
    font-size: 3rem;
    display: flex;
    width: 100%;
}

#header2 {
    background-color: #eb984e;
    width: 25%;
    text-align: center;
    border-radius: 5px;
}

.menu {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.menu1 {
    margin: auto;
    text-decoration: none;
    color: black;
}

.menu1:hover {
    color: #000000;
    background-color: #f5cba7;
    padding: 10px;
    border-radius: 10px;
}

.img-banner {
    height:255px;
    width: 100%;
    border: #000000;
    background-color: #ffffff;
}
.img1 {
    background-color: #cacfd2;
    border: 1px solid rgb(255, 255, 255);
    height: 250px;
    width: 100%;
}

#box {
    background-color: #f5cba7;
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    height: 200px;
    text-align: center;
    font-size: x-large;
}

#box p{
    width: 95%;
    margin: 25% auto;
}

#box2 {
    background-color: #f7bb86;
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    height: 200px;
    text-align: center;
    font-size: x-large;
}

#box2 p{
    width: 95%;
    margin: 25% auto;
}

#section1{
    background-color: #eb984e;
    border: 1px solid rgb(255, 255, 255);
    width: 4%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.rotacion{
    rotate: -90deg;
}

#link {
    border: 1px solid rgb(255, 255, 255);
    width: 20%;
    background-color: #d37e33;
    text-align: center;
}

#link h2{
    width: 95%;
    margin: 25% auto;
}

#header9 {
    border: 1px solid rgb(255, 255, 255);
    width: 80%;
    background-color: #d37e33;
    text-align: center;
    padding: auto;
}

#header9 p{
    width: 95%;
    margin: 5% auto;
}

#banner1{
    background-color: #ba4a00;
    width: 100%;
    height: 200px;
    border: 1px solid white;
    text-align: center;
    font-size: xx-large;

}
#banner1 h1{
    margin: 5% auto;
}

.container2{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#lorem{
    text-align: center;
    margin: 5%;
    font-size: larger;
}

.galeria1{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.galeria{
    width: 20%;
    height: 250px;
    padding: 10px;
}

.galeria img{
    background-color: #cacfd2;
    border: #000000;
    width: 100%;
    height: 250px;
    margin: auto;
}

@media (max-width:480px) {
    .galeria{
        width: 100%;
    }
}

#banner2{
    display: flex;
    padding: 10px;
    background-color: #f5cba7;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#contact{
    padding: 10px;
    background-color: #ba4a00;
    height: 150px;
    text-align: center;
    font-size: xx-large;
    margin: 4% auto 0 auto;
}



