body{
    font-style: italic;
    margin: auto;
    max-width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#header1 {
    background-color: #f0b27a;
    font-size: 3rem;
    display: flex;
    width: 100%;

}
#header2{
    background-color: #eb984e; 
    width: 20%;
    text-align: center;
}
.menu{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.menu1{
    margin: auto;
    text-decoration: none;
    color: black;
    
}
.menu1:hover {
    color: #000000;
    background-color: #f5cba7;
    padding: 10px;
    border-radius: 10px;
}
#header3{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    height: 200px;
    width: 100%;
}
#header4{
    background-color: #f5cba7;
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    height: 200px;
}
#header5{
    background-color: #f5cba7;
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    height: 200px;
}
#section1{
    background-color: #f0b27a;
    width: auto;
    border-radius: 5px;
    font-size: larger;
    text-align: center;
    transform-origin: top left; /* Set the origin for rotation */
    transform: rotate(-90deg);
}
#section2{
    background-color: #f0b27a;
    width: auto;
    border-radius: 5px;
    font-size: larger;
    text-align: center;
    transform-origin: top left; /* Set the origin for rotation */
    transform: rotate(-90deg); 
}
#header6{
    background-color: #f5cba7;
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    height: 200px;
    
    
}
#header7{
    background-color: #f5cba7;
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    height: 200px;
}
#callcenter{
    border: 1px solid rgb(255, 255, 255);
    width: 25%;
    height: 200px;
    background-color: #d37e33;
}
#header9{
    border: 1px solid rgb(255, 255, 255);
    width: 75%;
    height: 200px;
    background-color: #d37e33;
}